.wrapper {
  @apply h-[300px] w-full flex rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] 
  dark:bg-neutral-700 md:flex-col md:h-auto;
}

.img {
  @apply h-full object-cover w-[300px] rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg transition-all duration-300 hover:brightness-110;
}

.title {
  @apply mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50;
}

.descr {
  @apply mb-4 text-base text-neutral-600 dark:text-neutral-200 grow sm:text-sm;
}

.btn-add {
  @apply inline-block rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase 
  leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out 
  hover:bg-orange-700 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
  focus:bg-orange-700 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
  focus:outline-none focus:ring-0 active:bg-orange-800 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] 
  dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] 
  dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]
  sm:text-[10px];
}
