.wrapper {
  @apply flex justify-between items-center;
}

.logo {
  @apply italic text-4xl font-bold text-orange-700;
}

.logo-text {
  @apply p-0 m-0 leading-none;
}

.logo-text > span {
  @apply text-white;
}

.hamburger {
  @apply hidden font-bold text-2xl text-white md:block;
}

.wrap-right {
  @apply flex items-center gap-7 text-lg font-semibold;
  @apply md:flex-col md:absolute md:bg-black md:top-0 md:right-0 md:w-3/5 md:z-50 md:h-screen md:justify-center;
  @apply md:translate-x-full md:overflow-x-hidden md:invisible transition-all duration-200 ease-linear;
}

.show {
  @apply translate-x-0 overflow-x-auto visible;
}

.wrap-ul {
  @apply flex items-center gap-7 md:gap-9  md:flex-col;
}

.wrap-ul-link {
  @apply text-white font-bold text-xl transition-all duration-300 hover:text-orange-700;
}

.badge {
  @apply absolute -top-2 -right-5 rounded-full px-2 bg-white flex items-center align-middle;
}

.badge > span {
  @apply text-sm font-bold;
}

.overlay {
  @apply absolute right-0 top-0 w-0 h-screen bg-black z-10 opacity-25 transition-all duration-100 ease-linear invisible;
}

.overlay-show {
  @apply w-screen visible;
}

.admin-button {
  @apply inline-block rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
  text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out hover:bg-info-600 
  hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 
  focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none 
  active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] 
  dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] 
  dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] 
  dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)];
}

.logout-button {
  @apply inline-block rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
  text-white shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150 ease-in-out hover:bg-danger-600 
  hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:bg-danger-600 
  focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:outline-none 
  active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] 
  dark:shadow-[0_4px_9px_-4px_rgba(220,76,100,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] 
  dark:focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] 
  dark:active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)];
}
